.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 110px);

    input {
        padding: 10px 10px;
    }

    button {
        font-size: 20px;
        font-weight: 700;
    }

    span.d-inline-block {
        font-size: 18px;
        font-weight: 500;
    }

    span.d-inline-block:hover {
        text-decoration: underline;
        font-weight: 700;
    }
}