footer {
    border-top: 1px solid rgba(17, 17, 26, 0.2);

    span.d-inline-block:hover {
        color: #f77f00;
    }

    p {
        font-size: 18px;
        font-weight: 500;
    }

    p:hover {
        color: #f77f00;
    }

}